html,
body,
#root {
    height: 99%;
    text-align: center;
    background-image: url(../src/Assets/Images/bacground.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
    font-size: x-large;
    font-family: Segoe Print;
}